.jumbotron{
	background-color:rgb(74, 78, 78);
	color:white;
	margin-top: 30px;;
}
.btn-primary{
	background-color:blue;
}
footer{
	padding:10px 10px 0 10px;
	background-color:rgb(0, 0, 0);
	margin-bottom:0px;
	margin-top:10px;
	color:white;
}

.card-hotel{
	flex:1 150px;
	padding:2px 5px 2px 5px;
	margin-top:20px;
}

.btn-reserva{
	width:100%;
}
.card-footer{
	flex:1 350px;
	width: 100px;
}

.footer-addres-icon{
	padding-right: 10px;
}